@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #000;
  --background-color: #aeaeae;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.bgColor {
  background-color: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.w-calc { width: calc(100% - 14rem); }
.collapse-w-calc { width: calc(100% - 6rem); }
.background1 {
  background-color: var(--background-color);
}